:root{
  /* Dark colors */
  --dark-700: #15181E;
  --dark-500: #212429;
  --dark-300: #35383D;
  --dark-100: #62707B;
  /* Grey colors */
  --grey-700: #333D41;
  --grey-500: #575B60;
  --grey-300: #9CA1A6;
  --grey-100: #BBBBBB;
  /* Light colors */
  --light-500: #F7FAFD;
  --white: #ffffff;
  /* Brand color */
  --brand: #FF2848;
}