@font-face {
  font-family: 'GT Eesti';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("GT-Eesti-Pro-Light.woff2") format("woff2");
}
@font-face {
  font-family: 'GT Eesti';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("GT-Eesti-Pro-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'GT Eesti';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("GT-Eesti-Pro-Medium.woff2") format("woff2");
}
@font-face {
  font-family: 'GT Eesti';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("GT-Eesti-Pro-Bold.woff2") format("woff2");
}